.input-field {
    margin-left: 425px;
    margin-bottom: 20px;
}

.input-button {
    width: 150px;
    margin-left: 450px;
}

.alert-valid {
    width: 450px;;
    margin-bottom: 20px;
    margin-left: 350px;
    margin-top: 5px;
}