label {
  display: block;
  width: 20ch;
}

#navigation {
  border-bottom: solid 1px rgb(128, 128, 128);
  background-color: rgb(45, 67, 74);
}

body {
  background-image: url("background.jpg");
  background-color: rgb(64, 97, 107);
}

.nav-link{
  color: rgb(186, 167, 167);
  margin-left: 10ch;
}

.main-content{
  max-width: 800px;
}